<nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Pymes 2020</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/inicio"
          >Inicio <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/articulosfamilia">Artículos Familia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/articulos" title="Gestionar Articulos"
          >Artículos</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href=""
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Informes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Informe de Ventas</a>
          <a class="dropdown-item" href="#">Informe de Compras</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"
            >Informe de Devoluciones de Clientes</a
          >
          <a class="dropdown-item" href="#"
            >Informe de Devoluciones de Proveedores</a
          >
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#">Acerca de</a>
      </li>
    </ul>
    <form class="form-inline ml-3 mt-2 mt-md-0">
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Qué busca..."
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Buscar
      </button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="">Bienvenido: Matias Sánchez</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="">Cerrar Session</a></li>
    </ul>
  </div>
</nav>
